* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: ultra-bold;
}

body {
  background-color: #f4f7fb;
}

header {
  background-color: #0072c6; 
  color: white;
  text-align: center;
  padding: 20px;
}

header img {
  width: 140px; 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(920px - 100px);
  padding-top: 60px;
}

.card {
  width: 200%;
  max-width: 490px;
  background: #ffffff; 
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 10px 28px rgba(0,0,0,0.08);
  text-align: center;
  color: #163a57;
}

.card h2 {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 1200;
}

.subtitle {
  font-size: 14px;
  color: #5b6b7a;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  flex-direction: column; 
  gap: 16px;
}

.btn {
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #0072c6; 
  color: white;
  border: none;
  padding: 10px 28px; 
  border-radius: 8px;
  font-weight: 600;
    cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition: transform 0.12s ease, box-shadow 0.12s ease, background 0.12s ease;
  box-shadow: 0 3px 0 rgba(0,0,0,0.05);
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
}

.btn:hover {
  background: #005fa3;
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.hint {
  margin-top: 16px;
  font-size: 13px;
  color: #5b6b7a;
}

.logo-img {
  width: 140px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}