body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0277bd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header img {
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

.container {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1 {
  color: #0277bd;
  margin-bottom: 20px;
}
.titulo-confirmacao {
  color: #0277bd;
  margin-bottom: 20px;
}
.voltar {
  background-color: #444;
}
.voltar:hover {
  background-color: #222;
}