/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f7fb;
}

/* Cabeçalho */
header {
  background-color: #0072c6;
  color: white;
  text-align: center;
  padding: 20px;
}

header img {
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}


/* Card central */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.card h2 {
  color: #003366;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #0072c6;
}

/* Botões */
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #0072c6;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #005a9c;
}

/* Botão voltar */
.voltar {
  background-color: #444;
}

.voltar:hover {
  background-color: #222;
}
